@import "./reset.scss";
@import "./variables/global.scss";
@import "./themes/normal.scss";
@import "./themes/green.scss";
@import "./themes/dark.scss";

.app {
  font: var(--font-m);
  color: var(--primary-color);
  background: var(--bg-color);
  min-height: 100vh;
}

.app_modal,
.app_drawer {
  font: var(--font-m);
  color: var(--inverted-primary-color);
}

.app_redesigned {
  background: var(--bg-redesigned);
  min-height: 100vh;
  font: var(--font-m-redesigned);
  color: var(--text-redesigned);
}

.content-page {
  display: flex;
}

*::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

*::-webkit-scrollbar-track {
  background-color: var(--bg-color);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--primary-color);
  border-radius: 20px;
  border: 3px solid var(--bg-color);
}
