.LoginForm {
  width: 500px;
  display: flex;
  flex-direction: column;
}

.header {
  font: var(--font-l);
  margin-bottom: 20px;
}

.inputWrapper {
  margin-bottom: 10px;
}

.inputInner {
  text-shadow: 0 0 0 var(--inverted-primary-color);
}

.inputCaret {
  background-color: var(--inverted-primary-color);
}

.loginBtn {
  margin-left: auto;
  color: var(--inverted-primary-color);
  border-color: var(--inverted-primary-color);
}
