.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-widht);
  background: var(--inverted-bg-color);
  position: relative;
  transition: width 0.25s;
}

.collapsed {
  width: var(--sidebar-widht-collapsed);
}

.switchers {
  position: absolute;
  bottom: 0;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.tight {
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coolapsingBtn {
  font-size: 26px;
}
