.list {
  .card {

  }

  .imageWrapper {}

  .img {}

  .date {}

  .infoWrapper {}

  .types {}

  .views {}

  .icon {}

  .title {}
}

.cards {
  width: 230px;
  cursor: pointer;
  transition: 0.2s;

  .imageWrapper {
    width: 200px;
    height: 200px;
    position: relative;
  }

  .img {
    width: 200px;
    height: 200px;
  }

  .date {
    position: absolute;
    top: 0;
    right: 0;
    display: none;
  }

  .infoWrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }

  .types p {
    width: 115px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .views {
    margin-left: auto;
    margin-right: 8px;
  }

  .title p {
    margin-top: 8px;
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &:hover {
    opacity: 0.8;
    transform: scale(1.01);

    .date {
      display: block;
    }
  }
}
