.app_green_theme {
  --bg-color: #13d15c;
  --inverted-bg-color: #f4fbf7;
  --primary-color: #46795c;
  --secondary-color: #748f0e;
  --inverted-primary-color: #2fad10;
  --inverted-secondary-color: #3c5e36;
  --skeleton-color: #2fad10;
  --skeleton-shadow: #3c5e36;
  --code-bg: #18f16b;
  --card-bg: #13b150;
  --listbox-bg: #748f0e;

  /* redesigned */
  --dark-bg-redesigned: #FFF3D6;
  --bg-redesigned: #F0C048;
  --light-bg-redesigned: #F2D791;
  --text-redesigned: #1B1311;
  --hint-redesigned: #B8B2A2;
  --cancel-redesigned: #FF5E5E;
  --save-redesigned: #52FA81;
  --icon-redesigned: #4875F0;
  --accent-redesigned: #1D59FF;
}
