.app_green_theme {
  --bg-color: #13d15c;
  --inverted-bg-color: #f4fbf7;
  --primary-color: #46795c;
  --secondary-color: #748f0e;
  --inverted-primary-color: #2fad10;
  --inverted-secondary-color: #3c5e36;

  // skeleton
  --skeleton-color: #2fad10;
  --skeleton-shadow: #3c5e36;
}
