.ProfilePageHeader {
  display: flex;
  margin-bottom: 20px;
}

.btnsWrapper {
  margin-left: auto;
}

.editBtn {
  margin-left: auto;
}

.btnsBlock {
  display: flex;
}

.saveBtn {
  margin-left: 15px;
}
