.DropdownMenu {
  position: relative;
}

.btn {
  background: none;
  outline: none;
  margin: 0;
  padding: 0;
  border: none;
  cursor: pointer;
}

.menu {
  position: absolute;
  background: var(--card-bg);
  z-index: 10000;
  border-radius: 8px;
  border: 1px solid var(--primary-color);
}

.menuTopRight {
  bottom: 100%;
  left: 0;
}

.menuTopLeft {
  bottom: 100%;
  right: 0;
}

.menuBottomRight {
  top: 100%;
  left: 0;
}

.menuBottomLeft {
  top: 100%;
  right: 0;
}

.item {
  padding: 10px 25px;
  border: none;
  background: none;
  cursor: pointer;
  color: var(--primary-color);
  font: var(--font-s);
  width: 150px;
}

.active {
  border-radius: 8px;
  background: var(--inverted-primary-color);
}
